/* Flat button stylings */
.jfx-button-flat {
    -jfx-button-type: FLAT;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.jfx-button-flat:hover {
    -jfx-button-type: FLAT;
    -fx-background-color: rgba(116, 215, 116, 0.5);
    -fx-text-fill: #ffffff;
}

/* Raised button stylings */
.jfx-button-raised {
    -jfx-button-type: RAISED;
    -fx-background-color: rgba(142, 142, 144, 0.75);
    -fx-text-fill: WHITE;
}

.jfx-button-raised:hover {
    -jfx-button-type: RAISED;
    -fx-background-color: rgba(116, 215, 116, 0.75);
    -fx-text-fill: WHITE;
}

/* Some stylings for nice looking input-fields :) */
.custom-text-field {
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.custom-text-field:focused {
    -fx-background-color: transparent;
    -fx-border-color: blue;
    -fx-text-fill: #ffffff;
}

.custom-text-field:hover {
    -fx-background-color: transparent;
    -fx-border-color: #07e0c3;
    -fx-text-fill: #ffffff;
}

.custom-snackbar {
    -fx-background-color: rgba(33, 234, 33, 0.75);
    -fx-text-fill: #ffffff;
}